@import url('https://fontlibrary.org/face/comphand');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    body {
        background-image: url("/img/bgs/bg-skulls/skull-13.png"),
        url("/img/bgs/bg-skulls/skull-11.png"),
        url("/img/bgs/bg-skulls/skull-7.png"),
        url("/img/bgs/bg-skulls/skull-5.png"),
        url("/img/bgs/bg-skulls/skull-3.png"),
        url("/img/bgs/bg-skulls/skull-2.png"),
        url("/img/bgs/bg-skulls/skull-0.png");
    }

    .navbar-container {
        height: 60px;
    }

    #navbar-toggle:checked + #navbar-container {
        display:block;
    }

    .navbar-link {
        @apply flex sm:p-4 py-3 px-0 block border-b-2 border-transparent flex-grow items-center justify-center
                transition duration-100 ease-in-out
                transform hover:animate-wiggle;
    }

    .main-body {
        height: 1560px;
    }

    .footer-container {
        height: 180px;
    }

    .sm-link {
        filter: brightness(0.75);
        @apply w-6 grid items-center
    }
    .sm-link:hover {
        filter: brightness(1.00);
    }

    .video-container-outer {
        margin: 650px 10%;
    }

    .video-container {
        padding-bottom: 56.25%;
        @apply relative grid
    }

    .embedded-video {
        @apply absolute justify-self-center w-full h-full mx-0 my-auto
    }
}
