@import url("https://fontlibrary.org/face/comphand");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url("/img/bgs/bg-skulls/skull-13.png"),
      url("/img/bgs/bg-skulls/skull-11.png"),
      url("/img/bgs/bg-skulls/skull-7.png"),
      url("/img/bgs/bg-skulls/skull-5.png"),
      url("/img/bgs/bg-skulls/skull-3.png"),
      url("/img/bgs/bg-skulls/skull-2.png"),
      url("/img/bgs/bg-skulls/skull-0.png");
  }

  body > div > svg {
    @apply hidden;
  }

  .navbar-container {
    height: 75px;
    top: 0;
    @apply z-8888 fixed sm:absolute w-56 sm:w-full max-w-screen-lg;
  }

  .menu-toggle {
    @apply block fixed cursor-pointer
                sm:hidden p-4 w-max
                bg-white rounded-full
                z-9999;
    top: 0;
  }

  #navbar-toggle:checked + #navbar-container {
    @apply transform ease-in-out duration-300 translate-y-0 sm:transform-none;
  }

  #navbar-toggle:not(:checked) + #navbar-container {
    @apply transform ease-in-out duration-300 -translate-y-full sm:transform-none;
  }

  .navbar-link {
    @apply flex sm:p-4 py-3 px-0 block border-b-2 border-transparent flex-grow items-center justify-center
                transition duration-100 ease-in-out
                transform hover:animate-wiggle;
  }

  .main-body {
    height: 1545px;
  }

  .container {
    @apply bg-black pt-0 sm:pt-75 relative;
    padding-bottom: 222.4px;
  }

  .container-inner {
    @apply bg-black pt-4 text-white font-sans tracking-wider;
  }

  .footer-container {
    height: 222.4px;
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .sm-list {
    @apply flex justify-center space-x-3;
  }

  .music-chnls {
    @apply md:col-span-2 pt-4 pb-8 flex justify-center space-x-3;
  }

  .music-chnls > a {
    filter: brightness(0.75);
    @apply w-10 grid items-center;
  }

  .music-chnls > a:hover {
    filter: brightness(1);
  }

  .sm-link {
    filter: brightness(0.75);
    @apply w-6 grid items-center;
  }
  .sm-link:hover {
    filter: brightness(1);
  }

  .video-container-outer {
    margin: 650px 10%;
  }

  .video-container {
    padding-bottom: 56.25%;
    @apply relative grid;
  }

  .embedded-video {
    @apply absolute justify-self-center w-full h-full mx-0 my-auto;
  }

  .cookie-banner-container {
    @apply grid justify-center fixed bottom-0 bg-black w-full;
    max-width: inherit;
  }

  .cookie-banner {
    @apply p-0.5 text-white font-indieFlower;
  }

  .cookie-ok {
    background-color: green;
  }

  .video-nav-btn {
    @apply bg-white p-3 self-center absolute z-9999;
  }

  .cover-art {
    @apply grid justify-items-center;
  }

  .cover-art > img {
    @apply max-h-64;
  }

  .buy-btn {
    @apply border-2 p-2.5;
  }

  #myShop .sprd-tracking-menu__dropup {
    @apply p-14;
  }

  #myShop .sprd-product-list {
    min-height: 25vh;
  }

  #myShop .sprd-header {
    min-height: 56px;
  }
  #myShop .sprd-breadcrumb {
    padding-top: 1rem;
  }

  #sprd-footer .sprd-info-footer {
    @apply bg-black text-gray-400 border-0 p-0 pb-4;
  }

  #sprd-footer a:hover,
  #sprd-footer button:hover,
  #myShop .sprd-breadcrumb {
    @apply text-white no-underline;
  }

  #sprd-footer .sprd-info-footer__contact-col,
  #sprd-footer .sprd-service-footer,
  #sprd-footer .sprd-info-footer__open-shop {
    @apply hidden;
  }
}
